*{
padding:0px;
margin:0px;
}

section{
margin:50px auto;
width:1025px;
height:150px;


}
.rede#a{
width:220px;
height:220px;
float:left;
margin-left:30px;
transition:all 0.4s ease-out;
border-radius:50%;
text-decoretion:none;
animation-iteration-count:infinite;
animation-duration:3s;
animation-name:a;
}
.rede#b{
width:220px;
height:220px;
float:left;
margin-left:30px;
transition:all 0.4s ease-out;
border-radius:50%;
text-decoretion:none;
animation-iteration-count:infinite;
animation-duration:3s;
animation-name:b;
}
.rede#c{
width:220px;
height:220px;
float:left;
margin-left:30px;
transition:all 0.4s ease-out;
border-radius:50%;
text-decoretion:none;
animation-iteration-count:infinite;
animation-duration:3s;
animation-name:c;
}
.rede#d{
width:220px;
height:220px;
float:left;
margin-left:30px;
transition:all 0.4s ease-out;
border-radius:50%;
text-decoretion:none;
animation-iteration-count:infinite;
animation-duration:3s;
animation-name:d;
}
a{
text-decoration:none;
}

body{
/*background-color:pink;*/
background-color:black;
}

h1{
color:white;
text-align:center;
font-size:200px;
}

h2{
color:white;
text-align:center;
font-size:60px;
}

h6{
color:white;
text-align:left
font-size:10px;
}

.rede#a{
background-color:white;
}

.rede#b{
background-color:black;
}
.rede#c{
background-color:darkcyan;
}
.rede#d{
background-color:thistle;
}

.rede:hover{
cursor:pointer;
transform:translateY(-20px);
box-shadow:4px 30px 16px 0px rgba(50,50,50, 0.45);
}

@keyframes a{
0%{background-color:powderblue;}
25%{background-color:darkcyan;}
50%{background-color:aquamarine; }
75%{background-color:thistle;}
100&{background-color:powderblue;}
}
@keyframes b{
0%{background-color:aquamarine;}
25%{background-color:powderblue;}
50%{background-color:darkcyan;}
75%{background-color:thistle;}
100%{background-color:aquamarine;}
}
@keyframes c{
0%{background-color:darkcyan;}
25%{background-color:thistle;}
50%{background-color:powderblue;}
75%{background-color:aquamarine;}
100{background-color:darkcyan;}
}
@keyframes d{
0%{background-color:thistle;}
25%{background-color:darkcyan;}
50%{background-color:aquamarine;}
75%{background-color:powderblue;}
100%{background-color:thistle;}
}







